<p id="notice"><%= notice %></p>

<h1>Listing Boards</h1>

<div class="row">
<% @boards.each do |board| %>
<div class="col-md-6">
  <div class ="panel panel-default">
<div class="panel-heading">
<% board.name %>
</div>
<div class="panel-body">
<h4><%= board.name %></h4><h6><%= board.created_at.strftime('%m/%d/%Y at %I:%M%p') %></h6><br>
<p><%= board.about %></p><br />
by <%= board.user.full_name %>
</div>
<div class="panel-footer">
<%= link_to 'Show', board, class: "btn btn-primary"%>
<%= link_to 'Edit', edit_board_path(board), class: "btn btn-warning" %>
<%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
</div>
</div>
<% end %>
</div>

<br>


<%= link_to 'New Board', new_board_path %>

<%= link_to 'Delete All Boards', Board, method: :delete, data: {confirm: 'Are you sure?'} %>


